* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 900;
  background-color: rgb(5, 5, 36);
  color: whitesmoke;
}

.git {
  width: 90%;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  &__search {
    width: 300px;
    height: 30px;
    padding: 10px;
    outline: none;
    background-color: rgb(5, 5, 36);
    color: whitesmoke;
    border: 1px solid lightskyblue;
    border-radius: 10px;
  }

  &__cards {
    // width: 450px;
    padding: 20px;
    border: 2px solid rgb(35, 35, 104);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    // flex-direction: column;
  }

  &__card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    // border: 2px solid green;
  }

  &__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid lightskyblue;
  }
}
